# Python
venv/
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Ignore raw dataset only
dataset/raw/

# Ignore processed dataset (if large)
dataset/processed/

# Ignore trained model
models/*.keras
models/*.h5

# Ignore temporary files
*.log